body {
    margin: 2px;
    font-family: 'Share Tech Mono';
    height: 100%;
    background-color: #111;
  }

h2 {
  padding-left: 40%;
  font-family: 'Share Tech Mono';
  font-size: 60px;
  justify-self: auto;
  color: white;
}

.w3-bar {
  justify-items: center;
}

.icon-bar {
  width: 100%; /* Full-width */
  background-color: #35bdb8; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar button {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  background-color: #ef67a5; /* White text color */
  font-size: 20px; /* Increased font size */
}

.icon-bar button:hover {
  background-color: rgb(221, 172, 81); /* Add a hover color */
}

.active {
  background-color: #4CAF50; /* Add an active/current color */
}

.w3-container {
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

.center {
  width: 800px;
}

#myCanvas {
  /* background-color: #666; */
  background-color: rgb(212, 212, 212);
}

.footer {
  position: absolute;
  bottom: 0;
  color: #999;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 3;
  padding: 17px 0 15px;
  background-color: #3d3d3d;
  font-size: 25px;
  display: block;
  padding: 0;
  border: 0;
  /* font: inherit; */
}

.footer ul {
  margin: 0;
  padding: 20px 0 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 0;
  font: inherit;
  box-sizing: border-box;
}

.footer li {
  margin-right: 20px;
  display: inline-block;
  /* margin: 0; */
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: middle;
  text-align: -webkit-match-parent;
  box-sizing: border-box;
}

.footer a {
  color: #d7d7d7;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: middle;
  cursor: pointer;
  list-style: none;
}

.footer a:hover {
  color: #35bdb8;
}